* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}

.movie-list {
    text-align: center;
    padding: 20px;
    background-color: #20232a;
    color: white;
}

.movie-list h2 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* ระยะห่างระหว่างคอลัมน์และแถว */
}

.row {
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    gap: 20px; /* เพิ่มระยะห่างระหว่างคอลัมน์ */
    margin-bottom: 20px; /* ระยะห่างระหว่างแถว */
}

.col {
    flex: 1;
    max-width: 200px;
}

.col img {
    width: 110%;
    height: auto;
    border-radius: 10px;
}


 .img-fluid {
     margin-bottom: 1rem;
     margin-top: 2rem; 
     
 }
 .nav-item {
    color: beige;
 }
 

 
 